@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* font-family: 'Work Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Montserrat', sans-serif; */

:root{
--primaryColor: #272727;
--secondaryColor: #3D3D3D;
--thirdColor: #525252;
--btnColor1: #A855F7 ;
--btnColor2: #C084FC;
--btnColor3: aliceblue;
}

/* home */
.homeMainDiv{
    background-color: var(--thirdColor);
    height: 100%;
    color: var(--btnColor3);
}

@keyframes uiLogo-spin{
    0% {-webkit-transform: rotate(0deg);
        transform: rotate(0deg);}
    100% {-webkit-transform: rotate(1turn);
            transform: rotate(1turn);}
}
.homefabUILogo{
    margin: auto;
    width: 14rem;
}
.uiLogo{
    padding-top: 1rem;
    height: inherit;
}
:hover> .uiLogo{
    fill: var(--btnColor1);
}


.getStartBtn{
    margin: 1rem;
    background-color: var(--btnColor2);
    font-size: 1.5rem;
    

}
.docuBtn{
    margin: 1rem;
    background-color: var(--secondaryColor);
    font-size: 1.5rem;
}
/* home */


/* docs */
.mainContainer{
    display: flex;
    background-color: var(--thirdColor);
    height: 100%;
    color: var(--btnColor3);
    flex-direction: row;
}

.docNavBar{
    display: flex;
    /* position: sticky; */
    flex-direction: column;
    top: 0%;
    height: 100%;
    width: 15%;
    /* left: 0; */
    background-color: var(--secondaryColor)
}
.docMainDiv{
   display: flex;
   width: 85%;
   justify-content: center;
   overflow-y: scroll;
}
.navUl{
    list-style-type: none;
    padding: 0;
}

:hover>.navListBtn{
    width: 90%;
    background-color: var(--btnColor2)
}



