/* Avatar */
.avatarSmall{
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  
  .avatarMedium{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .avatarLarge{
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }
  
  .avatarBorder-black-3px{
    border: solid black 3px;
  }
  /* Avatar */
  
  /* Buttons */
  .btn{
    background-color: transparent;
    border-radius: 15px;
    border:none;
    padding: .25rem 1rem;
    cursor: pointer;
    color: aliceblue;
  }
  
  .primaryBtnColor{
    background-color:#002fff;
  }
  
  .secondaryBtnColor{
    background-color:#ff9d00;
  }
  
  /* link button */
  .linkBtn{
    border-radius: 15px;
    padding: .25rem 1rem;
    background-color: rgba(0, 140, 255, 0.815);
    text-decoration: none;
    color: aliceblue;
  }
  
  /* button size */
  .btnSm{
    padding: .15rem .50rem;
  }
  
  .btnL{
    padding: .3rem 1.25rem;
  }
  
  .btnXl{
    padding: .35rem 1.5rem;
  }
  
  
  /* float button */
  .floatBottomLeft{
    position: fixed;
    left: 10px;
    bottom: 10px;
  }
  .floatBottomRight{
    position: fixed;
    right: 10px;
    bottom: 10px;
  }
  .floatBtn{
    padding: .75rem .75rem;
    border-radius: 50%;
    border: none;
    font-size: medium
  }
  
  .floatBtnSm{
    padding: .5rem .5rem;
  }
  
  .floatBtnL{
    padding: 1rem 1rem;
    font-size: large;
  }
  
  .floatBtnXl{
    padding: 1.15rem 1.15rem;
   font-size: x-large;
  }
  
  /* button disable */
  .btnDisable{
    opacity: .60;
    cursor: not-allowed;
  }
  /* Buttons */
  
  
  
  
  /* modal box */
  .modalOutBox{
    min-height: 100px;
    min-width: 500px;
    max-width: 700px;
    margin: auto;
    padding-top: 50px;
  }
  
  .modalInBox{
    position: relative;
    width: 100%;
    height: 100%;
   
  }
  .modalClose{
    border-radius: 50%;
    border-width: 0;
    position: absolute;
    right: -10px;
    top: -10px;
  }
  
  .modalMain{
    background-color: rgb(98, 98, 98);
    padding: .5rem;
  }
  .modalSub{
    background-color: rgb(134, 134, 134);
    padding: 1rem;
  }
  /* modal box */
  
  .imgCLass{
    width: 50px;
    height: 50px;
  }
  
  /* alert */
  .sColorBg{
    background-color: #071207e6;
  }
  .sColor{
    color: #b7df92
  }
  .eColorBg{
    background-color: #461614;
  }
  .eColor{
    color: #fab3ae
  }
  .aColorBg{
    background-color: #382200
  }
  .aColor{
    color: #bea37a
  }
  .iColorBg{
    background-color: #071522;
  }
  .iColor{
    color: #60aaed
  }

  .alertBox{
    display: flex;
    min-width: 500px;
    max-width: 700px;
    min-height: 70px;
    margin: auto;
    margin-top: 50px;
  }
  
  .alertImgDiv{
    display: flex;
    height: inherit;
    width: 10%;
  }
  
  .alertImg{
    height: 30px;
    margin: auto;
  }
  
  .alertMsgDiv{
    display: flex;
    width: 85%;
    flex-direction: column;
  }
  .alertClose{
    display: flex;
    width: 5%;
  }
  .alertText{
    display: flex;
    padding-top: 5px;
    font-weight: 700;
  }
  .alertMsg{
    display: flex;
    text-align: left;
    padding-bottom: 5px;
  }
  
  .alertCloseBtn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    height: 20px;
    margin: auto;
  }
   /* alert */
  
  /* ratings */
  .radioHide{
    display: none;
  }
  
  .star{
  cursor: pointer;
  }
/* ratings */

 
  
/* badge */
.badge{
  position: absolute;
  top: 0;
  right: 0;
  }
  
  
/* navigation */
/* .navRight{

} */

/* .navBar{
  display: flex;
  justify-content:space-between;
} */

.navList{
  list-style-type: none;
  display: flex;
  width: 10rem;
  justify-content: space-between;
}

.navItem{
  display: flex;
  align-items: center;
}
.navItemLink{
  text-decoration: none;
  color: inherit;
}

.brandIconDiv{
  display: flex;
  height: 50px;
  width: 50px;
  margin: .5rem;
}
.brandIcon{
  height: inherit;
}