/* Avatar */
.avatarSmall{
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  
  .avatarMedium{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .avatarLarge{
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }
  
  .avatarBorder-black-1px{
    border: solid black 1px;
  }
  /* Avatar */
  
  /* Buttons */
  .btn{
    border-radius: 15px;
    border:none;
    padding: .25rem 1rem;
    cursor: pointer;
    color: aliceblue;
  }
  
  .primaryBtnColor{
    background-color:#002fff;
  }
  
  .secondaryBtnColor{
    background-color:#ff9d00;
  }
  
  /* link button */
  .linkBtn{
    border-radius: 15px;
    padding: .25rem 1rem;
    background-color: rgba(0, 140, 255, 0.815);
    text-decoration: none;
    color: aliceblue;
  }
  
  /* button size */
  .btnSm{
    padding: .15rem .50rem;
  }
  
  .btnL{
    padding: .3rem 1.25rem;
  }
  
  .btnXl{
    padding: .35rem 1.5rem;
  }
  
  
  /* float button */
  .floatBottomLeft{
    position: fixed;
    left: 10px;
    bottom: 10px;
  }
  .floatBottomRight{
    position: fixed;
    right: 10px;
    bottom: 10px;
  }
  .floatBtn{
    padding: .75rem .75rem;
    border-radius: 50%;
    border: none;
    font-size: medium
  }
  
  .floatBtnSm{
    padding: .5rem .5rem;
  }
  
  .floatBtnL{
    padding: 1rem 1rem;
    font-size: large;
  }
  
  .floatBtnXl{
    padding: 1.15rem 1.15rem;
   font-size: x-large;
  }
  
  /* button disable */
  .btnDisable{
    opacity: .60;
    cursor: not-allowed;
  }
  /* Buttons */
  
  
  
  
  /* modal box */
  .modalOutBox{
    min-height: 100px;
    min-width: 500px;
    max-width: 700px;
    margin: auto;
    padding-top: 50px;
  }
  
  .modalInBox{
    position: relative;
    width: 100%;
    height: 100%;
   
  }
  .modalClose{
    border-radius: 50%;
    border-width: 0;
    position: absolute;
    right: -10px;
    top: -10px;
  }
  
  .modalMain{
    background-color: rgb(98, 98, 98);
    padding: .5rem;
  }
  .modalSub{
    background-color: rgb(134, 134, 134);
    padding: 1rem;
  }
  /* modal box */
  
  .imgCLass{
    width: 50px;
    height: 50px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  